<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick poll</title>
</head>
<body>
    <h1>Create new poll</h1>
    <form method="POST" action="/create">
        <label>
            Question
            <input type="text" name="title">
        </label><br>
        % for i in range(int(options)):
            <label>
                Option {{i+1}}
                <input type="text" name="option{{i+1}}">
            </label><br>
        % end
        <input type="submit" value="Create poll">
    </form>
</body>
</html>