<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a href="/"><h1 class="navbar-item title is-4" style="color: white;">Quick Poll</h1></a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarmenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Create</a>
            <a class="navbar-item" href="/poll">Polls</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/odddollar/Quick-poll"><img src="/static/github.png"></a>
        </div>
    </div>
</nav>
