<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick poll</title>
</head>
<body>
    <h1>Welcome to Quick Poll</h1>
    % if submitted == False:
    <form method="POST" target="/">
        <label>
            Option 1: {{option1}}
            <input type="radio" name="options" value="option1">
        </label><br>
        <label>
            Option 2: {{option2}}
            <input type="radio" name="options" value="option2">
        </label><br>
        <label>
            Option 3: {{option3}}
            <input type="radio" name="options" value="option3">
        </label><br>
        <label>
            Option 4: {{option4}}
            <input type="radio" name="options" value="option4">
        </label><br>
        <input type="submit">
    </form>
    % else:
    <p>Already submitted</p>
    % end
</body>
</html>