<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick poll</title>
</head>
<body>
    <h1>Welcome to Quick Poll</h1>
    <h2>Favourite colour?</h2>
    <form method="POST" target="/">
        <label>
            Red: {{option1}}
            <input type="radio" name="options" value="option1">
        </label><br>
        <label>
            Green: {{option2}}
            <input type="radio" name="options" value="option2">
        </label><br>
        <label>
            Blue: {{option3}}
            <input type="radio" name="options" value="option3">
        </label><br>
        <label>
            Yellow: {{option4}}
            <input type="radio" name="options" value="option4">
        </label><br>
        % if submitted == None:
            <input type="submit">
        % else:
            <p>Already submitted</p>
        % end
    </form>
    
</body>
</html>