<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>Quick Poll</title>
</head>
<body>
    % include("header.html")
    <div class="card has-text-centered">
        <h1 class="title is-3">Public polls</h1>
        <h2 class="subtitle is-5">Total public polls: {{len(data.keys())}}</h2>
        % for poll in data.keys():
            <section class="section">
                <h3 style="font-size: 140%;"><strong>Question:</strong> {{data[poll][b"title"]}}</h3>
                <h3 style="font-size: 115%;"><strong>Link:</strong> <a href="/poll/{{str(poll).replace('b', '').replace('\'', '')}}">{{poll}}</a></h3>
                <h3 style="font-size: 115%;"><strong>Votes:</strong> {{data[poll][b"total"]}}</h3>
            </section>
        % end
    </div>
    % include("footer.html")
</body>
</html>