/* global */
.footer-style {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.card {
    padding: 16px;
    margin: 16px;
    box-shadow: 0 .5em 1em -.125em rgba(0, 0, 0, 0.2),0 0 0 1px rgba(0, 0, 0, 0.02);
    border-radius: 0;
}

/* home page */
.home-input {
    width: 300px;
}

.private-label {
    margin-top: 12px;
}

/* poll page */
.submit-selection {
    margin-top: 12px;
}

.already-submitted {
    margin-top: 12px;
    padding-top: 7px;
}

.progress-wrapper {
    position: relative;
}
  
.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 1rem;
    font-weight: 500;
    color: #4a4a4a;
}

.result-label {
    font-size: 20px;
}

.progress.is-large+.progress-value {
    font-size: 18px;
    line-height: 1.5rem;
}
