.footer-style {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.card {
    padding: 16px;
    margin: 16px;
    box-shadow: 0 .5em 1em -.125em rgba(0, 0, 0, 0.2),0 0 0 1px rgba(0, 0, 0, 0.02);
    border-radius: 0;
}
