/* global */
.footer-style {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.card {
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 2.5px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

strong {
    color: #4a4a4a;
}

/* home page */
.home-input {
    width: 300px;
}

.secret-label {
    margin-top: 12px;
}

.expire-time {
    margin-top: 12px;
}

/* poll page */
.submit-selection {
    margin-top: 12px;
}

.already-submitted {
    margin-top: 12px;
    padding-top: 7px;
}

.progress-wrapper {
    position: relative;
}
  
.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 1rem;
    font-weight: 500;
    color: #4a4a4a;
}

.result-label {
    font-size: 20px;
}

.progress.is-large+.progress-value {
    font-size: 18px;
    line-height: 1.5rem;
}

/* polls page */
.section {
    padding-top: 24px;
    padding-bottom: 24px;
}

.poll-header {
    font-size: 140%;
}

.poll-info {
    font-size: 115%;
}
